.Cart{
    min-height: calc(100vh);
    padding-top: 5.1rem;

    table{
        border-collapse: collapse;
        overflow: hidden;
        background-color: snow;
        text-align: center;
        width: 85%;
        margin: 2rem auto;
        box-shadow: 0 .2rem .5rem gainsboro;
        border-radius: 2rem;


        thead{
            box-shadow: 0 .0 .2rem gainsboro;

            th{
                font-size: 1.8rem;
                padding: 1rem;
            }
        }
        tbody{
            td{
                font-size: 1.5rem;
                padding: 1rem;
            }
        }
        tr:nth-child(even){
            background-color: white;
        }
    }
}