*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{font-size: 2.5rem;}
h2{font-size: 2.2rem;}
h3{font-size: 1.9rem;}
h4{font-size: 1.6rem;}
h5{font-size: 1.3rem;}
h6{font-size: 1rem;}
p{font-size: 1.8rem;}
span{font-size: 1.8rem;}
li{font-size: 1.8rem;}
button{font-size: 1.8rem;cursor: pointer;}
a{font-size: 1.8rem; text-decoration: none; color: black; cursor: pointer;}
input{font-size: 1.8rem;}

@media (max-width:1800px) {  *{    font-size: 95%;  }}
@media (max-width:1600px) {  *{    font-size: 85%;  }}
@media (max-width:1400px) {  *{    font-size: 75%;  }}
@media (max-width:1200px) {  *{    font-size: 65%;  }}
@media (max-width:1000px) {  *{    font-size: 60%;  }}
@media (max-width:800px) {  *{    font-size: 55%;  }}
@media (max-width:600px) {  *{    font-size: 50%;  }}
@media (max-width:400px) {  *{    font-size: 45%;  }}
@media (max-width:200px) {  *{    font-size: 40%;  }}